{{> post-info post}}

{{#if logged_in}}
<form class="new-comment">
        <div class="add-comment">
            <label for="add-comment">Comment:</label>
            <input type="text" id="add-comment" />
        </div>
        <button type="submit" class="btn comment-btn">Send</button>
</form>
{{/if}}

{{> comments post.comments}}

{{!-- {{#if logged_in}} --}}
{{!-- script here --}}
{{!-- {{/if}} --}}