html {
    font-size: 68.5%;
}

body {
    background-color: rgb(255, 255, 255);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.title {
    font-family: monospace;
    font-size: 4rem;
    font-weight: 700;
    position: absolute;
    color: #4c4292;
    background-color: rgb(244, 244, 244, .6);
    line-height: .8;
    box-shadow: 0rem 0rem 2rem rgb(244, 244, 244);
}

hero {
    height: 15rem;
    width: 100vw;
    background-color: rgb(247, 248, 252);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: -1rem;
    left: -1rem;
}

.logo {
    height: 23rem;
    width: auto;
    position: absolute;
}

nav {
    height: 5rem;
    width: 101vw;
    background-color: rgb(234, 234, 238);
    position: relative;
    top: -2rem;
    left: -1rem;
    box-shadow: 0rem .2rem .5rem rgb(204, 204, 204);
    display: flex;
    flex-direction: row;
    justify-content:center;
}


a {
    font-size: 1.5rem;
    list-style: none;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-top: 1.3rem;
}