
body {
    background-color: rgb(215, 215, 215);
    background: url(../images/logo.png);
    background-size: 44.5rem;
    background-position: top;
    background-attachment: fixed;
    background-repeat: no-repeat;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.6rem;
    height: 100vh;
}

hero {
    height: 15rem;
    background:transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.navbar {
    height: 4rem;
    margin-left: auto;
}

.navbar-nav {
    display: flex;
    align-items: center;
}

.title {
    font-family: monospace;
    font-size: 3rem;
    font-weight: 700;
    color: #4c4292;
    background-color: rgb(244, 244, 244, .6);
    line-height: .8;
    box-shadow: 0rem 0rem 2rem rgb(244, 244, 244);
    margin-top: 4.5rem;
}

.img {
    background-size: 20rem;
    background-position: center;
    background-repeat: no-repeat;
    height: 12rem;
    width: auto;
}


a,
p {
    color: #26204e;
    text-decoration: none;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 2rem;
}

.card {
    margin-top: 2rem;
}